@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";

@layer base {
  * {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
  }
  #__nuxt {
    @apply h-screen bg-light-blue;
  }

  p,
  ol,
  ul {
    @apply text-lg xl:text-xl;
  }
  h1 {
    @apply text-4xl lg:text-5xl uppercase;
  }
  h2 {
    @apply text-3xl uppercase;
  }
}

@theme {
  --color-dark-blue: #194065;
  --color-light-blue: #1f517f;
  --color-red: #d63958;
  --color-orange: #fe8835;
  --breakpoint-3xl: 120rem;
  --breakpoint-xs: 27rem;
}
